.topnav .search-container {
    float: right;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
}

    /*for main image*/
#jumbo {
    position: relative;
    background-image: url("../images/midImage.jpg");
    width:100%;
    height:100%;
    background-size: 100% 100%;
    border-radius:0px;
}
/*for Text on image*/
.top-left {
    position: absolute;
    top: 30px;
    left: 16px;
    color: black !important;
}
.top-left-paragraph{
    position: absolute;
    top: 110px;
    left: 16px;
    color: dodgerblue !important;
    text-shadow: 2px 2px black;
}


/*for button on image*/
.centered {
    position: absolute;
    top: 280px;
    left:16px ;

}

/*Top Left image aligned*/
.alignment {
    position: absolute;
    top: 2px;
    left: 5px;
    width:10%;
    height:45px;
}
/*Button On Image Alignment*/
.btn {
    border-radius: 2px;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;

 }
/*Color Button on imgage*/
.info {background-color: #2196F3; } /* Blue */
.info:hover {background: #0b7dda; }

/*Bottom image*/
.imgAlign{
    width: 95%;
    height: 500px;
}

.myborder {
    border-style: double;
}

/*Form.html*/
#main-wrapper{
    width:500px;
    margin:0 auto;
    background:white;
    padding:5px;
    background-color: lightcyan;

}

.avatar1{
    width:160px;

}
.myform{
    width:620px;
    margin:0 auto;
}
.formborder {
    border-style:double;
    border-radius: 30px;
    border-width: 5px;
    border-collapse: separate;
    border-spacing: 0px;
    background-color: lightcyan;
    margin-left: 230px;
    margin-right:200px;
}

.leftalign{
     margin-left: 15px;
}
.leftalign1{
    padding-right: 300px;

}
